<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>View Doctors</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../css/searchDoctors.css">
</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <img src="../images/logo.png" style="height:100px; width:100px;" alt="brand-logo">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="searchDoctors">Search Doctors</a>
          </li>
           <li class="nav-item">
            <form action="/auth/viewBookingsPat" method="POST">
              <button class="nav-link link" style="border:none; background-color: inherit;">View Bookings</button>
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--end of Navigation bar-->

  <header class="container mt-4 mb-4">
    <h1 id="pageTitle"> </h1>
  </header>

  <div class="container" id="cardHolder">

  </div>

  <script>
    const docDet = {{{items}}};

    const pageTitle = document.getElementById("pageTitle");
    pageTitle.innerText = `${docDet[0].specialization} Specialists Near You`;

    (function (docDet) {

      const cardHolder = document.getElementById("cardHolder");
      cardHolder.innerHTML = "";
      //card.setAttribute("class", "d-flex flex-column p-5");
      //cardHolder.setAttribute("style","background-color:tomato;");
      
      let indexOfSelectedDoc = 0;
      docDet.forEach((e) => {

        const card = document.createElement("div");
        card.setAttribute("class", "container d-flex p-2 mb-3");
        card.setAttribute("style", "justify-content:space-evenly; align-items:center;background-color:#d6e5f3; flex-wrap:wrap; text-transform: capitalize;");

        const cardData = document.createElement("div");
        cardData.setAttribute("class", "col-md-6");
        // cardData.setAttribute("style","background-color:tomato;");

        const title = document.createElement("h2");
        const name = document.createElement("b");
        name.innerText = `${e.first_name} ${e.last_name}`;
        const docDegree = document.createElement("span");
        docDegree.innerText = ` (${e.degree})`;
        name.appendChild(docDegree);
        title.appendChild(name);
        cardData.appendChild(title);

        const clinicName = document.createElement("h4");
        clinicName.innerText = `${e.clinic_name}`;
        cardData.appendChild(clinicName);

        const addressHolder = document.createElement("div");
        const plotNo = document.createElement("h6");
        plotNo.innerText = `${e.plot_number}`;
        const landmark = document.createElement("h6");
        landmark.innerText = `${e.landmark}`;
        const street = document.createElement("h6");
        street.innerText = `${e.street}`;
        const city = document.createElement("h6");
        city.innerText = `${e.city}`;
        addressHolder.appendChild(plotNo);
        addressHolder.appendChild(landmark);
        addressHolder.appendChild(street);
        addressHolder.appendChild(city);
        cardData.appendChild(addressHolder);

        const consultationChargesHolder = document.createElement("div");
        consultationChargesHolder.setAttribute("class", "d-flex flex-column");
        consultationChargesHolder.setAttribute("style", "height:200px; width:200px; justify-content:center; align-items:center;");
        const chargesTitle = document.createElement("h4");
        chargesTitle.setAttribute("style", "text-align:center; font-weight:bolder;");
        chargesTitle.innerText = `Consultation Charges`;
        const charges = document.createElement("h4");
        charges.setAttribute("class", "mt-2");
        charges.setAttribute("style", "font-weight:bolder;");
        charges.innerText = `Rs. ${e.consulting_charges}`;
        consultationChargesHolder.appendChild(chargesTitle);
        consultationChargesHolder.appendChild(charges);


        const viewAvailability = document.createElement("button");
        viewAvailability.setAttribute("value", indexOfSelectedDoc);
        viewAvailability.setAttribute("class", "btn btn-dark");
        viewAvailability.setAttribute("style", "height:40px;");
        viewAvailability.innerText = `Set An Appointment With Dr. ${e.first_name}`;
        viewAvailability.addEventListener("click",(event)=>{
          // console.log(JSON.stringify(e));
          localStorage.setItem("choosenDocDet",JSON.stringify(e));
          window.open("bookDoctor","_blank");
        });

        // createModal(e,indexOfSelectedDoc);

        card.appendChild(cardData);
        card.appendChild(consultationChargesHolder);
        card.appendChild(viewAvailability);

        cardHolder.appendChild(card);
        ++indexOfSelectedDoc;
      });

    })(docDet);
  </script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
    </script>
</body>

</html>