<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register Your Practice</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/index.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
</head>

<body>
  <!--Navigation bar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img src="../images/logo.png" style="height:100px; width:100px;" alt="brand-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Login/Signup
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/patientLogin">Patient Login</a></li>
              <li><a class="dropdown-item" href="/patientSignup">Patient Signup</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="/doctorLogin">Doctor Login</a></li>
              <li><a class="dropdown-item" href="/doctorSignup">Doctor Signup</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registerPractice">Register Your Practice</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--end of Navigation bar-->

  <header class="page-header mx-auto col-md-6 my-4">
    <h1 class="page-title">Register Your Practice on EasyCure</h1>
  </header>

  <div class="d-flex mx-auto col-md-6">

    <form class="row g-3 needs-validation" oninput="mySignupValidator()" action="/auth/registerPractice" method="POST" novalidate>

      <div class="col-md-6">
        <label for="name" class="form-label">Clinic name</label>
        <input type="text" class="form-control" id="name" name="name" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>


      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-6">
        <label for="contact" class="form-label">Contact Number</label>
        <input type="tel" class="form-control" id="contact" name="contact" pattern="[0-9]{10}" required>
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          10 Digits please !
        </div>
      </div>

      <div class="col-md-6">
        <label for="alt-contact-no" class="form-label">Alternative Contact Number</label>
        <input type="tel" class="form-control" id="alt-contact-no" pattern="[0-9]{10}" placeholder="Optional">
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          10 Digits please !
        </div>
      </div>

      <div class="col-md-6">
        <label for="landmark" class="form-label">Landmark</label>
        <input type="text" class="form-control" id="landmark" name="landmark" placeholder="Near Kaison Hardware" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>
      
      <div class="col-md-6">
        <label for="plot-no" class="form-label">Plot No</label>
        <input type="text" class="form-control" id="plot-no" name="plot" placeholder="A-201" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-6">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" name="street" placeholder="Sky walk" required>
        <div class="valid-feedback">
          Looks good!
        </div>
      </div>

      <div class="col-md-6">
        <label for="city" class="form-label">City</label>
        <select class="form-select" id="city" name="city" required>
          <option selected disabled value="">City</option>
          <option>Bhilwara</option>
          <option>Chandigarh</option>
          <option>Delhi</option>
          <option>Jaisalmer</option>
          <option>Patiala</option>
        </select>
        <div class="invalid-feedback">
          Please select a valid city.
        </div>
      </div>

      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
      </div>
      <div class="col-12 mt-3">
        <button class="btn btn-outline-dark" type="submit">Submit form</button>
      </div>
    </form>

  </div>

        {{#if message}}
            <h4 class='alert {{messageClass}} mt-4'>{{message}}</h4>
        {{/if}}

  <script src="../javascript/patientSignup.js"></script>
  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
    </script>
</body>

</html>