*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    --light-blue:#d6e5f3;
    --dark-blue:rgb(0,35,75);
    font-family:'Cabin', sans-serif;
}

.nav-item{
    padding-right: 20px;
}

#carouselExampleControls{
    position:absolute;
    top:0;
    width:100%;
}

.navbar{
    z-index:2;
    top:0;
    /* background-color: rgba(255,255,255,0.1); */
}